body{
    width: 100vw;
    height: 100vh;
   background-color:#282c34; 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

img{
    margin-top: 0vh;
}
@import url('https://fonts.googleapis.com/css?family=Electrolize');

h1{
    text-align: center;
    color: #2196f3;

    font-family: 'Electrolize', sans-serif;
}


main {
    flex: 1 0 auto;
}
h6{
    margin-left: -5%;
    margin-top: -1vh;
    font-family: 'Electrolize', sans-serif;

}

.logos{
    position: relative;
    left: -5vw;
}